* {
	font-family: 'Roboto Mono', monospace;
}

body, html {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("../images/background.gif");
	background-size: cover;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	color: white;
	font-weight: normal;
}

div.box {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}


select.triggers {
	height: 260px;
	width: 300px;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	border-style: none;
	background-color: rgba(255, 255, 255, 0);
}

option {
	background-color: white;
	border-style: none; 
	padding: 10px;
	margin: 10px;
	opacity: 0.5;
}

option:hover, option:checked { 
	opacity: 1;
	color: white;
	background: black;
	transform: scale(1.05, 1.05)
}
/*option:checked doesn't work*/

input {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	border-style: none;
	background-color:#ff4d58;
	padding: 10px;
}
/*the only way I can trick the font property*/

input:hover {
	cursor: pointer;
	background-color:#ff303d;
}

div.button{
	margin: 20px;
}

div.SubmitButton {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}
/*font-family value doesn't work*/