body, html {
	height: 100%;
	margin: 0;
}

body {
	background-color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: center;

}

body#plane-rides {
	background-image: url("../images/plane_rides.jpeg");
	background-size: cover;
}

body#train_rides {
	background-image: url("../images/train_rides.jpeg");
	background-size: cover;
}

body#ambulance {
	background-image: url("../images/ambulance.jpeg");
	background-size: cover;
}

body#crowds {
	background-image: url("../images/crowds.jpeg");
	background-size: cover;
}


div.box {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}


div.message {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: black;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 10px;
}

div.button {
	margin: 40px;
}

button#goback {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	border-style: none;
	background-color:#ff4d58;
	padding: 10px;
}

button#goback:hover {
	cursor: pointer;
	background-color:#ff303d;
	transform: scale(1.05, 1.05);
}

